* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: #f5f5f5;
    margin: 0 auto;
    max-width: 1200px;
}

#hero img {
    margin: 5px;
    border-radius: 50%;
    object-fit: cover;
    width: 250px;
    height: 250px;
}

#hero h1 {
    font-size: 3rem;
}

#hero h2{
    font-size: 2rem;
}

#hero h3{
    font-size: 1.5rem;
}

#hero p {
    font-size: 1.5rem;
}

#hero a {
    color: black;
    text-decoration: none;
    transition: 0.2s ease;
}

#hero a:hover {
    color: rgb(201, 39, 39);
    background-color: rgb(206, 206, 206);
    padding: 7px;
    border-radius: 7px;
}


#hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    padding: 40px 20px;
}