:root {
  /*Primary*/
  --primary: #12b0f9;
  --primary-hover: #0f98d8;
  --primary-light: #2eb7f7;
  --hover-text: #e4f2f8;

  /*Border*/
  --border: #e7f3f2;

  /*Placeholder Text*/
  --placeholder: #9ba7a7;

  /*Header*/
  --header: #e8f3f2;

  /*Accent*/
  --accent: #00cec0;

  /*Backgrounds*/
  --bg: #ecf7f6;
  --card: #edf7f6;

  /*Text*/
  --text: #0d0e0d;
  --text-secondary: #131413;
  --text-muted: #b6cccc;

  /*Status*/
  --success: #1bce5d;
  --warning: #f1a015;
  --danger: #f03d3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  font-family: "Inter", sans-serif;
  background: var(--bg);
}

/*Header Section*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--header);
  padding: 10px 5%;
  position: sticky;
  top: 0;
}

.logo {
  padding: 5px;
}

.logo a {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.5em;
}

.nav-links {
  display: flex;
  gap: 2em;
}

.nav-links li {
  list-style: none;
}

.nav-links .link {
  text-decoration: none;
  color: var(--text-secondary);
  transition: 0.3s ease;
}

.link:hover {
  color: var(--primary);
}

.nav-links .active {
  color: var(--primary);
}

.nav-right button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.fa-moon,
.fa-bars {
  font-size: 1.5em;
  color: var(--text-secondary);
  background: transparent;
  transition: all 0.3s ease;
}

.fa-moon:hover,
.fa-bars:hover {
  transform: scale(1.1);
}

.hamburger-icon {
  display: none;
}

.main {
  padding: 0 5%;
}

.container {
  min-height: 100vh;
  padding: 50px 50px 50px 0;
}

.sub-main-title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 25px;
  padding-top: 10px;
}

/*Home Section*/

.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: -50px;
}

.main-title {
  font-size: 3em;
  font-weight: bold;
}

.role {
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.home-parag {
  max-width: 450px;
  margin-bottom: 1rem;
  line-height: 1.5;
  color: var(--text);
}

.cta-button {
  margin: 5px 0 25px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 7px;
}

.cta {
  padding: 0.7rem 2rem;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background: var(--primary);
  cursor: pointer;
  transition: 0.3s ease;
}

.cta:hover {
  background: var(--primary-hover);
  color: white;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a {
  font-size: 1.5rem;
  color: var(--text);
  margin-right: 0.5em;
}

/*About Section*/

.about-container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/*Left Side Image*/
.about-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

/*Right Side */

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-parag {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 25px;
  text-align: justify;
  width: 100%;
}

.about-btn {
  padding: 12px 30px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background: var(--primary);
  font-size: 1rem;
  margin: auto;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.about-btn:hover {
  background: var(--primary-hover);
}

/*Tech Stack Section*/
.tech-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.tech-item {
  border-radius: 10px;
  padding: 20px 20px 20px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 400px;
}

.tech-stack-title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary);
}

.tech {
  padding: 25px 25px 25px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 200px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tech-image {
  width: 100%;
  height: 100px;
}

.tech-image-title {
  color: var(--text);
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}

.progress-bar {
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background: white;
  border: 1px solid black;
}

.progress-percent.java {
  width: 5%;
  color: white;
  background-color: var(--primary);
  height: 100%;
  border-radius: 50px;
}
.progress-percent.html {
  width: 95%;
  color: white;
  background-color: var(--primary);
  height: 100%;
  border-radius: 50px;
}
.progress-percent.css {
  width: 81%;
  color: white;
  background-color: var(--primary);
  height: 100%;
  border-radius: 50px;
}
.progress-percent.mysql {
  width: 5%;
  color: white;
  background-color: var(--primary);
  height: 100%;
  border-radius: 50px;
}
.progress-percent.github {
  width: 50%;
  color: white;
  background-color: var(--primary);
  height: 100%;
  border-radius: 50px;
}

/*Projects Section*/
.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.project-item {
  width: 100%;
  max-width: 500px;

  border: 3px solid var(--card);
  border-radius: 11px;
}

.project-item-img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.project-text-content {
  padding: 15px;
  width: 100%;
}

.project-item-title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 5px 0;
}

.project-item-parag {
  text-align: justify;
  font-size: 1em;
  margin-bottom: 10px;
}

.project-item-btn {
  padding: 5px 10px;
  margin: 7px auto 0 auto;
  display: block;
  background: var(--primary);
  border-radius: 7px;
  border: none;
  font-size: 0.9em;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  transition: 0.3s ease;
  cursor: pointer;
}

.project-item-btn:hover {
  background: var(--primary-hover);
}

.project-item.mptc {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.project-item-title.mptc-text {
  font-size: 1.5em;
}

.contact-container {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(2, 1fr);

  margin: auto;
}

.contact-item {
  border-radius: 10px;
  padding: 20px;
}

.contact-item {
  display: flex;
}

.contact-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  padding: 15px;
  background: var(--card);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: none;
}
.contact-input-item {
  display: flex;
  flex-direction: column;
}

.contact-input-item label {
  margin-bottom: 8px;
}

.contact-input-item input {
  height: 40px;
  padding-left: 4px;
  font-size: 1em;
  width: 100%;
  border-radius: 5%;
  margin-left: 6px;
  border: 1px solid var(--card);
}

.contact-input-item textarea {
  height: 150px;
  font-size: 1.2em;
  padding: 10px;
}

.contact-input-item textarea::placeholder,
.contact-input-item input::placeholder {
  color: var(--placeholder);
  padding-left: 5px;
}

.contact-input-btn {
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 7px;
  background: var(--primary-light);
  border: none;
  width: 100%;
  height: 40px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: 0.3s ease;
}

.contact-input-btn:hover {
  background: var(--primary-hover);
}

.contact-input-item input,
.contact-input-item textarea,
.contact-input-btn {
  border-radius: 7px;
  border: 1px solid var(--border);
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  font-weight: bold;
}
