* {
    padding: 0;
    margin: 0;
    font-family:  Times, serif;
    box-sizing: border-box;
}

body {
    line-height: 1.3;
    background-color: #e7e7e7;
    margin: 0; 
}

#hero {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 60px 5%;
}

#hero h3 {
    margin-bottom: 25px;
}

#hero h2 {
    margin-bottom: 30px;
}

#hero p {
    margin-bottom: 30px;
}

#hero a {
    text-decoration: none;
    color: white;
    background-color: #0f172a;
    padding: 10px 15px;
    border-radius: 7px;
}


.hero-content {
    flex: 1;
    text-align: left;
}

#hero img {
    width: 504px;
    height: auto;
    margin-top: 0;
}

.personal-info-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 10px 20%;
    height: 100vh;
    text-align: justify;
}

.personal-info-container button {
    padding: 10px 15px;
    background-color: #0f172a;
    color: white;
    border-radius: 7px;
    font-size: 16px;
    
}