:root {
  /*Primary*/
  --primary: #12b0f9;
  --primary-hover: #11a7ec;
  --primary-light: #2eb7f7;
  --hover-text: #e4f2f8;

  /*Header*/
  --header: #e8f3f2;

  /*Accent*/
  --accent: #00cec0;

  /*Backgrounds*/
  --bg: #f4fffe;
  --card: #496b69;

  /*Text*/
  --text: #0d0e0d;
  --text-secondary: #131413;
  --text-muted: #b6cccc;

  /*Status*/
  --success: #1bce5d;
  --warning: #f1a015;
  --danger: #f03d3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  font-family: "Inter", sans-serif;
  background: var(--bg);
}

/*Header Section*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--header);
  padding: 10px 5%;
  position: sticky;
  top: 0;
}

.logo {
  padding: 5px;
}

.logo a {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.5em;
}

.nav-links {
  display: flex;
  gap: 2em;
}

.nav-links li {
  list-style: none;
}

.nav-links .link {
  text-decoration: none;
  color: var(--text-secondary);
  transition: 0.3s ease;
}

.link:hover {
  color: var(--primary);
}

.nav-links .active {
  color: var(--primary);
}

.nav-right button {
  border: none;
  cursor: pointer;
}

.fa-moon,
.fa-bars {
  font-size: 1.5em;
  color: var(--text-secondary);
  transition: all 0.3s ease;
}

.fa-moon:hover,
.fa-bars:hover {
  transform: scale(1.1);
}

.hamburger-icon {
  display: none;
}

.main {
  padding: 0 5%;
}

.container {
  min-height: 100vh;
  padding: 50px;
}

.sub-main-title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 25px;
}

/*Home Section*/

.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: -50px;
}

.main-title {
  font-size: 3em;
  font-weight: bold;
}

.role {
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.home-parag {
  max-width: 450px;
  margin-bottom: 1rem;
  line-height: 1.5;
  color: var(--text);
}

.cta-button {
  margin: 5px 0 25px 0;
}

.cta {
  padding: 0.7rem 2rem;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background: var(--primary);
  cursor: pointer;
  transition: 0.3s ease;
}

.cta:hover {
  background: var(--primary-hover);
  color: white;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a {
  font-size: 1.5rem;
  color: var(--text);
  margin-right: 0.5em;
}

/*About Section*/

.about-container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/*Left Side Image*/
.about-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

/*Right Side */

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-parag {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 25px;
  text-align: justify;
  width: 100%;
}

.about-btn {
  padding: 12px 22px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background: var(--primary);
  font-size: 1rem;
  margin: auto;
  cursor: pointer;
  transition: 0.3s ease;
}

.about-btn:hover {
  background: var(--hover-text);
}

/*Tech Stack Section*/
.tech-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.tech-item {
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tech-stack-title {
  font-size: 1.5em;
  font-weight: bold;
}

.tech {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.tech-image {
  width: 100%;
  height: 100px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background: white;
  border: 1px solid black;
}

.progress-percent.java {
  width: 5%;
  color: white;
  background-color: var(--primary);
  height: 100%;
  border-radius: 50px;
}
.progress-percent.html {
  width: 95%;
  color: white;
  background-color: var(--primary);
  height: 100%;
  border-radius: 50px;
}
.progress-percent.css {
  width: 81%;
  color: white;
  background-color: var(--primary);
  height: 100%;
  border-radius: 50px;
}
.progress-percent.mysql {
  width: 5%;
  color: white;
  background-color: var(--primary);
  height: 100%;
  border-radius: 50px;
}
.progress-percent.github {
  width: 50%;
  color: white;
  background-color: var(--primary);
  height: 100%;
  border-radius: 50px;
}
